*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: monospace;
}
nav{
    height: 70px;
    width: 100%;
    background-color: rgb(17, 11, 71);
}
label.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 80px;
    padding: 0;
    font-weight: bold;
    margin-left: 5px;

}
nav ul{
    float: right;
    margin-right: 20px;
    
}
nav ul li{
    display: inline-block;
    margin: 0 4px;
    margin-bottom: 0%;
    line-height: 80px;
    

}
nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;

}
a.active, a:hover{
    background-color:rgb(163, 171, 182) ;
}


.home{
    background: url(home-bg.jpg) center no-repeat;

    margin: 0;
    padding: 0;
    /* height: 795px; */
    height: 657px;
}



.about{
    margin: 20%;
    text-align: center;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;


}

.services{
    margin: 20%;
    text-align: center;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
} 
.work{
    margin: 20%;
    text-align: center;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
} 
.contact{
    margin: 20%;
    text-align: center;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
} 

h3{
    color: rgb(177, 182, 187);
}





