/* more than 1000 */
@media (min-width: 1000px) { /*desktop*/
  .nav-ul {
    display: flex;
  }
}

@media (max-width: 1000px) { /*tablet*/

  .nav-right>.nav-ul {
    display: none;

  }

  .nav-right>.nav-ul>.cart {
    display: block;
  }

  .content h1 {
    font-size: 2.5em;
  }
.h-btn{
  margin-right: 80px;
  padding: 10px 10px;
}
  .icon {
    display: block;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30px; 
    right: 20px;  
  }

  .nav-right ul li a{

    color: rgb(0, 0, 0);

  }
.nav-right ul{
      background-color: white;
      width: 100vw;
      position: absolute;
      top: 85px;
      left: 0px;

}

.dropdown-parent{
  padding-top: 0px;
  height: 28px;
}

.dropdown-parent ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.dropdown-parent{  /*pages*/
  padding-top: 0px;
  height: 28px;
  position: relative;
}




/* .dropdown-parent .dropdown-ul ul, */
.dropdown-ul{
  width: 99vw;
  padding: 0pc;
  margin: 0px;




  
}
.dropdown-parent .dropdown-ul ul{
 
  /* border: solid rgb(188, 31, 31) 3px; */
padding: 0;
margin: 0;
  display: flex;
  
  flex-wrap: wrap;

  border: solid rgb(140, 140, 140) 5px;
  width: auto;
  
  position: absolute;
  top: -55px;
  left: 1px;
  right: 2px;


  
}
  






}

@media (max-width: 600px) { /*mobile phoe*/
  
  .icon {
    display: block;
    font-size: 30px;
    color: rgb(255, 255, 255);
  
    position: absolute;
    top: 35px; 
    right: 20px;  
  }
  
  
  .icon li{
    position: absolute;
    top: 10;
    right: 10;
  }


  .nav-right>.nav-ul {
    display: none;

  }

  .nav-right>.nav-ul>.cart {
    display: block;
  }

  .nav-right>.h-btn {
    display: none;
  }

  .cart {
    margin-right: 50px;
  }

  .nav-left >a> img{
    width: 150px;
  }

  .content h1 {
    font-size: 1.5em;
    margin: 10px 10px;
  }

  .content>.content-btn {
    padding: 15px 20px;
  }

.nav-right > ul{
      background-color: white;
      width: 100vw;
      position: absolute;
      top: 70px;
      left: 0px;
      height: 30vh;
      padding-top: 20px;

}
.nav-right ul li
{
border-bottom: 1px solid;
padding-top: 5px;
}

  .nav-right ul li a{

    color: rgb(0, 0, 0);
    

  }




}